OPERATOR_PK=
FLUENT_RPC_URL=https://rpc.testnet.fluent.xyz
TREASURY_ADDRESS=
VOTING_V2_ADDRESS=
VOTING_POWER_SOURCE=
BOARD_ADMIN=0x1a2a5E805342D5139111488C59d72832055A3e8F
EPOCH_ZERO_UNIX=1730937600
EPOCH_SECONDS=86400
VOTE_WINDOW_SECONDS=259200
MIN_TOTAL_WEIGHT_QUORUM=1
SKIP_SET_ADMIN=0
